a.my-button {
    width: 100%;
    margin: 3px 0px;
    display: block !important;
}
div.gallery-item {
    margin: 10px 0px;
}
.gallery-image.img-thumbnail1 {
    margin: 0px auto;
    display: block;
    height: 600px;
    width: 750px;
}
img.img-thumbnail {
    height: 200px;
    width: 270px;
}
